@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.App {
   text-align: center;
   /* background-color: #282c34; */
}
h3 {
   color: #ec407a;
   text-align: center;
   font-size: 40px;
}

#home {
   display: flex;
   gap: 10%;
   padding: 100px 100px;
   align-items: center;
   font-size: 30px;
   background: #5b5959;
   color: white;
   height: 100%;
   width: 100%;
   margin: auto;

   justify-content: space-around;
   padding-top: 150px;
}

#working img {
   width: 100%;
   height: 100%;
   border-radius: 100px;
}

/* 
#about{
  width: 100%;
  margin: auto;
  padding: 20px 20%;
background: #5b5959;
color: #0c0c16;

} */

/* #about img{  
height: 30%;
  width: 38%;
  border-radius: 100px;
} */

#skills {
   color: rgb(242, 240, 240);
   font-weight: 800;
   margin: auto;
   background: #5b5959;
}

#skills > div {
   display: flex;
   flexwrap: wrap;
   justify-content: space-evenly;
   text-align: center;
   margin: 5% 0px;
}

#skills img {
   width: 100px;
   height: 100px;
   border-radius: 10px;
   padding-bottom: 10px;
   /* object-fit: cover; */
}

#contact {
   /* display: flex; */

   padding: 50px 0px;

   background: #5b5959;
   color: azure;
}

